<app-header></app-header>

<app-foto [imagen]="minhaImagem"></app-foto>
















































































































<!-- <h1>{{msg}}</h1>
<p>{{descricao}}</p>

<img [src]="img" alt="">
<hr>
<h1>{{msgDois}}</h1>
<p>{{descricaoDois}}</p>
<hr>
<img src="{{img}}" alt="">
<button type="button" (click)="clicou()">não clique</button>
<hr>
<h1>Exibindo objetos</h1>
<p>{{pessoa.nome}}</p>
<p><strong>Nome:</strong> {{pessoa.nome}}</p>
<p><strong>Idade:</strong> {{pessoa.idade}}</p>
<hr>
<h1>Diretiva</h1>
<p *ngIf="pessoa.idade>=18">{{pessoa.nome}}</p>
<hr>
<p *ngFor="let F of pessoaCaixa">{{F.nome}}</p>
<hr>
<div *ngFor="let TESTE of pessoaCaixa">
    <p><strong>Nome:</strong>{{TESTE.nome}}</p>
    <p><strong>Idade:</strong>{{TESTE.idade}}</p>
    <p><strong>Altura:</strong>{{TESTE.altura}}</p>
</div>
<hr>
<br>
<div *ngFor="let F of pessoaCaixa">
    <div *ngIf="F.idade > 18">
        {{ F.nome }}, {{F.idade}} anos
    </div>
</div> -->